body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

nav {
    position: relative !important;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.col1 h2 {
    display: none;
}

.terms {
    padding-top: 7%;
}

.terms a {
    color: red;
}

@media (max-width:600px) {
    .row {
        flex-direction: column !important;
        align-items: center;
    }
    .col2 {
        width: 100% !important;
    }
    .col2 h1 {
        font-size: 2.3rem !important;
        text-align: center;
        color: orangered;
    }
    .col1 h2 {
        display: block;
        font-size: 2em;
    }
    .col2 h2 {
        display: none;
    }
    .col2 p {
        font-size: 20px !important;
        font-weight: 600 !important;
        line-height: 1.2 !important;
        text-align: initial !important;
        margin-right: 0 !important;
    }
    select {
        font-size: 20px !important;
        margin-left: 17px !important;
    }
    .button-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 66%;
        margin-top: 10%;
        position: initial;
    }
    .s1 {
        margin-top: 7%;
    }
}

@media (max-width: 860px) {
    .hamburger {
        display: block;
        padding: 20px;
    }
    .hamburger.active .bar:nth-child(3) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translate(-1px) rotate(44deg);
        position: relative;
        top: -4px;
    }
    .hamburger.active .bar:nth-child(2) {
        transform: translate(-2px) rotate(-45deg);
        position: relative;
        bottom: 11px;
    }
    .nav-menu {
        position: fixed;
        left: -127%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        transition: 0.7s;
        height: 70vh;
        padding-top: 6%;
        display: grid;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    .active {
        left: 0%;
    }
    .secondary-nav a {
        color: #fff !important;
    }
}

section {
    margin: 0 5% 0 5%;
}

.row {
    display: flex;
    flex-direction: row;
}

.row>.col2 {
    width: 55%
}

.row>.col1 {
    width: 45%;
    text-align: right;
}

.col1>img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}

.row>div {
    margin: 20px;
}

.col2>h1 {
    font-size: 3vw;
}

.col2>p {
    margin-right: 10%;
    text-align: justify;
    font-size: 1.5vw;
    line-height: 1.3em;
}

select {
    font-size: 1vw;
    width: auto;
    margin-left: 1em;
}

span {
    display: inline-flex;
    padding: 0;
}

h2 {
    font-size: 1.5vw;
}

.button-cart {
    padding: 9px 15px 9px 15px;
    color: white;
    background-color: #000;
    cursor: pointer;
    font-size: 16px;
    border-radius: 16px;
    text-decoration: none;
    position: relative;
    top: 12px;
    margin-left: 12%;
}

.button-cart:hover {
    background-color: white;
    color: #000;
    border: 1px solid black;
}

.wishlist {
    text-decoration: none;
    color: #555555;
}

.wishlist:hover {
    color: #000;
}

video {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

video:focus {
    outline: none;
}