nav>ul>li {
    display: inline-block;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    overflow: auto;
    padding: 10px 30px 20px 10px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

@media (max-width: 860px) {
    nav{
        padding: 0 !important;
    }
    .hamburger {
        display: block;
        padding: 20px;
    }
    .hamburger.active .bar:nth-child(3) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translate(-1px) rotate(44deg);
        position: relative;
        top: -4px;
    }
    .hamburger.active .bar:nth-child(2) {
        transform: translate(-2px) rotate(-45deg);
        position: relative;
        bottom: 11px;
    }
    .nav-menu {
        position: fixed;
        left: -127%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        transition: 0.7s;
        height: 75vh;
        padding-top: 0%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    .active {
        left: 0%;
    }
    .secondary-nav a {
        color: #fff !important;
    }
}

.primary-nav {
    float: left;
    font-size: 20px;
}

.primary-nav>a {
    letter-spacing: 5px;
}

.primary-nav>img {
    width: 30px;
}

.secondary-nav>a {
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    letter-spacing: 3px;
    padding-right: 20px;
}

.secondary-nav {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

nav>ul>li>a {
    color: black;
    font-family: helvetica;
    text-decoration: none;
}

nav>ul>li>a:hover {
    color: #cb4335;
    transition: .7s ease;
}